<div class="{{ section.settings.class }}" style="background: {{section.settings.bg_color}}">
  <img class="show-desktop" src="{{ section.settings.desktop_image | image_url: width: full}}" style="width: 100%">
  <img class="show-mobile" src="{{ section.settings.mobile_image | image_url: width: full}}">
</div>

{% schema %}
  {
    "name": "Banner Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "desktop_image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "mobile_image"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "text",
        "id": "class",
        "label": "CSS Class"
      }
    ],
    "presets": [
      {
        "name": "Banner Image"
      }
    ]
  }
{% endschema %}

<style>
  .show-mobile {
    display:none;
  }
  @media screen and (max-width: 460px) {
    .show-mobile {
      display:block;
      width: 100%;
    }
    .show-desktop {
      display:none!important;
    }
  }
</style>

{% javascript %}
{% endjavascript %}