<div class="excellent-pasta-scroller">
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'Excelent-Pasta-scroller' -%}
      <div class="announcement-bar excelent-pasta" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <h3 class="announcement-bar__message recoletaRegular  yellow ">
                {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </h3>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}
</div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
// marquee section slider

$(".excellent-pasta-scroller").slick({
  speed: 8000,
  autoplay: true,
  autoplaySpeed: 0,
  cssEase: 'linear',
  pauseOnHover: false,
  slidesToShow: 2,
  slidesToScroll: 1,
  infinite: true,
  arrows:false,
  swipeToSlide: true,
  focusOnSelect: true,
  responsive: [
    {
      breakpoint: 1600,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
      }
    }
  ]
});


</script>

{% schema %}
 {
  "name": "Exelent Pasta",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [



],
  "blocks": [
    {
      "type": "Excelent-Pasta-scroller",
      "name": "excellent pasta scroller",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "block text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "button-link"
        }
      ]
    }
  ],
 "presets": [
    {
      "name": "Excelent-Pasta-scroller",
      "blocks": [
       
       
      ]
    }
  ]
}

{% endschema %}
