<section class="ingredient-item page-width">
    <div class="ingredient-content">
{%- for block in section.blocks -%}
 <div class="single-item {% cycle 'odd', 'even' %}"><p class="item-text text-center black recoletaBold">{{ block.settings.text}}</p></div>
{%- endfor -%}
</div>
</section>

<style>
  .secton-ingredient-item{
    background:{{section.settings.bg-color}};
      padding:{{section.settings.padding}}px 0;
  
  }
  
</style>




{% schema %}
 {
  "name": "Ingredient Item",
  "tag": "section",
"class": "secton-ingredient-item",
  "settings": [
{
"type": "color",
"id": "bg-color",
"label": "Section Background"
},
{
"type": "range",
"id": "padding",
"min": 0,
"max": 250,
"step": 5,
"default": 50,
"unit": "px",
"label": "Section padding"
}


],
  "blocks": [
    {
      "type": "Ingredient-Item",
      "name": "Ingredient Item",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Item Text"
        }
      ]
    }
  ],
 "presets": [
    {
      "name": "Ingredient-Item",
      "blocks": [
       
       
      ]
    }
  ]
}

{% endschema %}
